<mat-card class="auth-card">
    <mat-card-header>
        <mat-card-title class="auth-title">Login</mat-card-title>
        <mat-card-subtitle class="auth-subtitle">Enter your credentials to access your account</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username"
                       formControlName="username">
                <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                       formControlName="password">
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
                    Login
                </button>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <a routerLink="/register">New user? Register here</a>
    </mat-card-actions>
</mat-card>